-# 新規会員登録画面へ遷移した際、最後に表示するview
%body
  = render "devise/shared/devise_header"
%body
  .ContentSignUp
    .ContentSignUp__Title
      会員情報入力
    .ContentSignUp__Infomation
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .ContentSignUp__Infomation__ProfileText
          .ContentSignUp__Infomation__ProfileText__Title
            .SignUpTitle プロフィール
            .SignUpOptional 任意
          %textarea{id: 'SinUpInputProfileForm',low: "20"}
          -# = f.text_field :nickname, placeholder: "例）メルカリ太郎", class:"SinUpInputForm"
        .ContentSignUp__Infomation__NameEntry
          .ContentSignUp__Infomation__NameEntry__Title
            .SignUpTitle お名前(全角)
            .SignUpRequired 必須
          .ContentSignUp__Infomation__NameEntry__Form
            %input{type: 'text', placeholder: "例）山田", class:"SinUpInputFlexForm" }
            -# バックエンド実装時用のメモ 対象のカラム:family_name
            %input{type: 'text', placeholder: "例）彩", class:"SinUpInputFlexForm" }
            -# バックエンド実装時用のメモ 対象のカラム:first_name
        .ContentSignUp__Infomation__NameEntry
          .ContentSignUp__Infomation__NameEntry__Title
            .SignUpTitle お名前カナ(全角)
            .SignUpRequired 必須
          .ContentSignUp__Infomation__NameEntry__Form
            %input{type: 'text', placeholder: "例）ヤマダ", class:"SinUpInputFlexForm" }
            -# バックエンド実装時用のメモ 対象のカラム:family_name_kana
            %input{type: 'text', placeholder: "例）アヤ", class:"SinUpInputFlexForm" }
            -# バックエンド実装時用のメモ 対象のカラム:first_name_kana
        .ContentSignUp__Infomation__Birth
          .ContentSignUp__Infomation__Birth__Title
            .SignUpTitle 生年月日
            .SignUpRequired 必須
          .ContentSignUp__Infomation__Birth__Form
            %select{name: "birth_year",class: "SinUpBirthdayForm"}
              %option{value: "1"} --
              %option{value: "2"} 1
              %option{value: "3"} 2
            年
            %select{name: "birth_month",class: "SinUpBirthdayForm"}
              %option{value: "1"} --
              %option{value: "2"} 1
              %option{value: "3"} 2
            月
            %select{name: "birth_day",class: "SinUpBirthdayForm"}
              %option{value: "1"} --
              %option{value: "2"} 1
              %option{value: "3"} 2
            日
        .ContentSignUp__Infomation__Attention
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .ContentSignUp__Infomation__CommonEntry
          .ContentSignUp__Infomation__CommonEntry__Area
            .SignUpTitle 電話番号
            .SignUpRequired 必須
          -# class名はinputForm単位で切り分け
          %input{type: 'text', placeholder: "ハイフンを除いて入力", class:"SinUpInputForm" }
          -# = f.text_field :mobile, placeholder: "ハイフンを除いて入力", class:"SinUpInputForm"
        .ContentSignUp__Infomation__Action
          .ContentSignUp__Infomation__Action__Attention
            「次へ進む」のボタンを押すことにより、
            %span
              =link_to "#", class: "SignUpLink" do
                利用規約
            に同意したものとみなします
          %input{type: "submit", value: "次へ進む", class: "ContentSignUp__Infomation__Action__Btn"}
        .ContentSignUp__Infomation__Link
          =link_to "#", class: "SignUpLink" do
            本人情報の登録について>
        .ContentSignUp__Infomation__Caution
          This site is protected by reCAPTCHA and the Google
          =link_to "#", class: "SignUpLink" do
            Privacy Policy
          and
          =link_to "#", class: "SignUpLink" do
            Terms of Service
          apply.
  = render "devise/shared/devise_footer"