!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .HeaderSignin
      =link_to root_path,class: "HeaderSignin__Logo" do
        =image_tag 'logo.png'