.MyPageMainMenu
  .MyPageMainMenu__ProfileHeader
    =image_tag 'member_photo_noimage_thumb.png',height: '60px', width: '60px'
    .MyPageMainMenu__ProfileHeader--UserName
      = current_user.nickname + "さん"
  .MyPageMainMenu__ProfileUnder
    .MyPageMainMenu__ProfileUnder__Title
      プロフィール詳細
    .MyPageMainMenu__ProfileUnder__Detail
      %p.MyPageMainMenuTitle 氏名
      .MyPageMainMenu__ProfileUnder__Detail__Name
        = current_user.profile.family_name
      .MyPageMainMenu__ProfileUnder__Detail__Name
        = current_user.profile.first_name
    .MyPageMainMenu__ProfileUnder__Birth
      %p.MyPageMainMenuTitle 
        誕生日
      .MyPageMainMenu__ProfileUnder__Birth__Detail
        = current_user.profile.birth_day.strftime("%Y年 %m月 %d日")
  .MyPageMainMenu__Credit
    %p.MyPageMainMenuTitle 
      クレジットカード
      -# クレジットカード機能を導入したら、ステータスによって表示内容を分岐させたいので、if文をコメントアウトしておきます。
      -# - if current_user.credit_cards.card_number != nil
      .MyPageMainMenu__Credit__Status
        %p.UnregisteredCreditStatus 未登録
      -# -else
      -# クレジットカード機能を導入後、登録済みだった場合のマークアップです。現時点ではコメントアウトしておきます。
      -# .MyPageMainMenu__ProfileUnder__Credit__Status
      -#   %p.RegisteredCreditStatus 登録済み