
-# %body
= render "share/header"
.ItemBody
  .ItemBox
    .ItemBox__ItemName
      ここ商品の名前入る
    .ItemBox__ImageBody
      .ItemBox__ImageBody__ItemImg
        .ItemBox__ImageBody__ItemImg__Main
          .ItemBox__ImageBody__ItemImg__Main__UpperBox
            %img{alt: "furima", class: "LargeItemImg", src: "assets/grapefruit" }
        .ItemBox__ImageBody__ItemImg__SubImage
          .ItemBox__ImageBody__ItemImg__SubImage__UnderBox
            %img{alt: "furima", class: "SubItemImg", src: "assets/fruit_starfruit" }
            %img{alt: "furima", class: "SubItemImg", src: "assets/fruit_starfruit" }
            %img{alt: "furima", class: "SubItemImg", src: "assets/fruit_starfruit" }
      .ItemBox__ImageBody__PraceBox
        .ItemBox__ImageBody__PraceBox__Prace
          %p¥30000
        .ItemBox__ImageBody__PraceBox__Tax
          %font
          (税込) 送料込み
      .ItemBox__ImageBody__ItemDetail
        親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      .ItemBox__ImageBody__TableBox
        %table
          %tr
            %th 出品者
            %td いしざき
          %tr
            %th カテゴリー
            %td 
              %a(href="#")ベビーキッズ
              %br/
              %a(href="#")ベビー服(男女兼用) ~95cm
              %br/
              %a(href="#")アウター
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品のサイズ
            %td 
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送元の地域
            %td 
              %br/
              %a(href="#")岩手県
          %tr
            %th 発送日の目安
            %td 4-7発送
        .ItemBox__ImageBody__OptionArea
          .ItemBox__ImageBody__OptionArea__LikeBtn
            = link_to "#",class: '' do
              .ItemBox__ImageBody__OptionArea__LikeBtn__Okini
                =icon('fas','star', class: 'icon')
                お気に入り 0
          .ItemBox__ImageBody__OptionArea__OptionalBtn
            = link_to "#",class: '' do
              .ItemBox__ImageBody__OptionArea__OptionalBtn__Hutekisetu
                =icon('fas','flag', class: 'icon')
                不適切な商品の通報
  .CommentBox
    .CommentBox__CommentArea
      %textarea{class: "CommentBox__CommentArea__Form"}
    .CommentBox__NoticeMsg
      %p
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
      %p
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
    .CommentBox__CommentBtn
      = link_to "#",class: 'CommentBtn' do
        =icon('fas','comment', class: 'icon')
        コメントする
  .UnderLinkBox
    .UnderLinkBox__Links
      %a.UnderLinksBox__Links__Left(href="#")
        ＜前の商品
      %a.UnderLinksBox__Links__Right(href="#")
        次の商品＞
    .UnderLinkBox__ReratedItems
      %a(href="#")
        ベビーキッズをもっと見る