.header
  .headerInner
    .mainheder
      .icon
        %img{alt: "furima", class: "icon", src: "assets/logo.png"}
      .search-box
        %input{type: "text", class: "search-box__input", placeholder: "何かお探しですか？"}
        %img{alt: "search", class: "search-box__icon", src: "assets/icon-search.png"}
  -# .lists-left
  -#   .lists-left__item
  -#     カテゴリーから探す
  -#   .lists-left__brand
  -#     ブランドから探す
  -# .lists-right
  -#   .lists-right__login
  -#   .lists-right__new