.TopHeader{
  padding: 0 60px;
  width: 100%;
  background-color: #fff;
  z-index: 200;
  position: fixed;
  box-shadow: 2px 2px 4px lightgray;

  &__Inner{
    max-width: 1000px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    &__Main{
      position: relative;
      display: flex;
      align-items: center;

      .TopIcon{
        padding-bottom: 10px;
        margin-right: 20px;
        border-radius: 4px;

        .TopImgLink{
          height: 35px;
          width: 120px;
        }
        &__Image{
          height: 35px;
          width: 120px;
        }
      }
      
      .SearchForm{
        margin-left: auto;
        background-color: white;
        position: relative;
        width: 100%;
        padding-bottom: 10px;

        &__Input{
          width: 100%;
          height: 30px;
          padding: 0 0 0 5px;

          &__Button{
            height: 30px;
            width: 30px;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 5px;
            position: absolute;
            right: 0;
            text-align:center;
            
            &__Icon{
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }

    &__Lists{
      font-size: 14px;
      display: flex;
      .TopLink{
        display: flex;
        color: $font_color;
        text-decoration: none;
      }
      .LeftColor:hover {
        color: orange;
      }

      &__Left{
        width: 30%;
        display: flex;
        &__Category{
          width: 100%;
          i{
            line-height: 21px;
            margin-right:4px;
            color:$light_blue;
          }
          width: 100%;
          a{
            display: block;
            padding: 0 0 10px 0;
          }
          // ここから追加
          &__ParentCategories{
            position: absolute;
            &__List{
              padding: 0 10px;
              height:40px;
              width: 200px;
              line-height: 40px;
              background-color: #fff;
              box-shadow: 2px 2px 4px lightgray;
              a{
                color: $font_color;
              }
            }
          }

        }
        &__Brand{
          padding-left: 16px;
          width: 100%;
        }
      }
      &__Right{
        margin-left: auto;
        display: flex;
        &__Signin{
        }
        &__Signup{
          padding-left: 16px;
        }
      }
    }
  }
}

.CategoryList{
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  display: flex;


}

.ChildrenMenu{
  position: absolute;
  margin-left: 200px;
  margin-top: 0px;
  width: 100%;
  min-height: 100%;
  &__List{
    color: $font_color;
    display: block;
    text-decoration: none;
    padding: 18px 10px;
    height:40px;
    width: 200px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 2px 2px 4px lightgray;

  }
}

.GrandChildrenMenu{
  position: absolute;
  margin-left: 400px;
  width: 100%;
  min-height: 100%;
  &__List{
    color: $font_color;
    display: block;
    text-decoration: none;
    padding: 8px 10px;
    height:40px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 2px 2px 4px lightgray;
  }
}